.password-input-container {
    position: relative;
    width: 100%;
}

.password-input {
    width: 100%;
    padding-right: 40px; /* Make space for the icon */
}

.password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}
